<div class="container">
  <div id="header-top">
    <div class="left">
      <a href="/" id="logo">
        <img src="../../assets/images/logo-interne.png" alt="title">
      </a>
      <p id="slogan">
        Système de 
        <span class="blue bold">labellisation des services de distribution des pièces 
          de rechange automobiles</span>
        permettant de distinguer les produits
        <b>authentiques</b>
        des produits de contrefaçon.
      </p>
      <ul id="menu-top">
        <li><a href="">Espace partenaires</a></li>
        <li><a href="">Espace clients</a></li>
        <li><a href="">Contact</a></li>
        <li><a href=""><span class="bold text-red">FR</span></a></li>
        <li class="nob"><a href=""><span class="bold">العربية</span></a></li>
      </ul>
    </div>
  </div>
</div>