<div class="navbar">
  <div class="navbar-header">
    <!--- for the boutton: responsive -->
  </div>

  <ul class="navbar-nav container">
    <li class="home">
      <a href="">
        <img src="../../assets/images/home.svg" alt title>
      </a>
    </li>
    <li class="menu-child">
      <a href="" class="menu-top">le label <span class="blue">salamatouna</span></a>
      <ul class="sub-menu">
        <li>
          <a href="">Présentation de la MCC SALAMATOUNA</a>
        </li>
        <li>
          <a href="">Pourquoi le label SALAMATOUNA?</a>
        </li>
        <li>
          <a href="">Qui peut etre labellisé?</a>
        </li>
        <li>
          <a href="">Comment obtenir le label SALAMATOUNA?</a>
        </li>
        <li>
          <a href="">Partenaires</a>
        </li>
        <li>
          <a href="">Guid d'utilisation</a>
        </li>
      </ul>
    </li>
    <li class="menu-child">
      <a href="" class="menu-top">obtenir <span class="blue">le label salamatouna </span></a>
      <ul class="sub-menu">
        <li>
          <a href="">Règlement d'usage de la MCC</a>
        </li>
        <li>
          <a href="">Droits exigibles de labellisation</a>
        </li>
        <li>
          <a href="">Déposer votre demande en ligne</a>
        </li>
        <li>
          <a href="">Espace clients</a>
        </li>
      </ul>
    </li>
    <li class="menu-child">
      <a href="" class="menu-top">les magasins <span class="blue">labellisée</span></a>
      <ul class="sub-menu">
        <li>
          <a href="">Liste des labellisés</a>
        </li>
        <li>
          <a href="">Cartographie des magasins laballisés</a>
        </li>
        <li>
          <a href="">Rechercher un magasin</a>
        </li>
      </ul>
    </li>
    <li class="menu-child">
      <a href="" class="menu-top b-right"><span class="blue">médias</span></a>
      <ul class="sub-menu">
        <li>
          <a href="">Actualités</a>
        </li>
        <li>
          <a href="">Revues de presse</a>
        </li>
        <li>
          <a href="">Publications</a>
        </li>
        <li>
          <a href="">Photos & vidéos</a>
        </li>
      </ul>
    </li>
  </ul>
</div>